In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv(r"E:\INTERNSHIP\Projects\Criminal Activities in India\crime_women_children\crime_against_children_(State-UT-wise)_2019-2021.csv")

In [3]:
df1

,S.No,State/UT,Name,2019,2020,2021,midPopulation,RateofCrimeAgainstChildren,ChargesSheetingRate
0,1,State,Andhra Pradesh,2524,2648,2669,151.1,17.7,93.2
1,2,State,Arunachal Pradesh,153,113,162,5.9,27.5,69.6
2,3,State,Assam,6608,4622,5282,120.8,43.7,56.0
3,4,State,Bihar,9320,6591,6894,475.0,14.5,68.9
4,5,State,Chhattisgarh,5665,5056,6001,97.5,61.6,70.4
5,6,State,Goa,167,125,151,3.8,39.5,70.9
6,7,State,Gujarat,4685,4075,4515,209.2,21.6,79.2
7,8,State,Haryana,5119,4338,5700,91.2,62.5,44.0
8,9,State,Himachal Pradesh,748,636,740,21.5,34.4,53.0
9,10,State,Jharkhand,1674,1795,1867,138.4,13.5,83.7
10,11,State,Karnataka,6305,5471,7261,193.5,37.5,61.2
11,12,State,Kerala,4754,3941,4536,94.1,48.2,94.1
12,13,State,Madhya Pradesh,19028,17008,19173,287.6,66.7,61.0
13,14,State,Maharashtra,19592,14371,17261,361.1,47.8,55.8
14,15,State,Manipur,148,125,143,10.3,13.8,77.9
15,16,State,Meghalaya,379,415,481,13.8,34.9,79.8
16,17,State,Mizoram,125,142,122,4.2,28.9,91.7
17,18,State,Nagaland,59,31,51,8.2,6.2,80.4
18,19,State,Odisha,7012,6330,7899,144.1,54.8,52.3
19,20,State,Punjab,2625,2121,2556,87.4,29.2,69.0
20,21,State,Rajasthan,7385,6580,7653,281.4,27.2,56.3
21,22,State,Sikkim,163,147,149,2.1,72.4,78.5
22,23,State,Tamil Nadu,4139,4338,6064,206.6,29.3,91.2
23,24,State,Telangana,4212,4200,5667,113.8,49.8,75.9
24,25,State,Tripura,311,260,236,12.3,19.2,84.1
25,26,State,Uttar Pradesh,18943,15271,16838,853.3,19.7,72.5
26,27,State,Uttarakhand,1214,1066,1245,38.0,32.8,81.3
27,28,State,West Bengal,6191,10248,9523,300.0,31.7,82.1
28,29,UT,A&N Islands,153,141,124,1.1,110.4,95.2
29,30,UT,Chandigarh,264,209,234,3.2,72.2,32.1
30,31,UT,D&N Haveli and Daman & Diu+,96,67,104,1.9,54.1,51.9
31,32,UT,Delhi,7783,5362,7118,55.4,128.5,32.5
32,33,UT,Jammu & Kashmir*,470,606,845,49.1,17.2,56.8
33,34,UT,Ladakh @,-,2,1,0.8,1.2,66.7
34,35,UT,Lakshadweep,26,9,17,0.2,85.4,90.5
35,36,UT,Puducherry,50,71,122,3.6,34.0,84.3

In [4]:
# Checking top 5 Rows
df1.head()

,S.No,State/UT,Name,2019,2020,2021,midPopulation,RateofCrimeAgainstChildren,ChargesSheetingRate
0,1,State,Andhra Pradesh,2524,2648,2669,151.1,17.7,93.2
1,2,State,Arunachal Pradesh,153,113,162,5.9,27.5,69.6
2,3,State,Assam,6608,4622,5282,120.8,43.7,56.0
3,4,State,Bihar,9320,6591,6894,475.0,14.5,68.9
4,5,State,Chhattisgarh,5665,5056,6001,97.5,61.6,70.4

In [5]:
# Checking bottom 5 Rows
df1.tail()

,S.No,State/UT,Name,2019,2020,2021,midPopulation,RateofCrimeAgainstChildren,ChargesSheetingRate
31,32,UT,Delhi,7783,5362,7118,55.4,128.5,32.5
32,33,UT,Jammu & Kashmir*,470,606,845,49.1,17.2,56.8
33,34,UT,Ladakh @,-,2,1,0.8,1.2,66.7
34,35,UT,Lakshadweep,26,9,17,0.2,85.4,90.5
35,36,UT,Puducherry,50,71,122,3.6,34.0,84.3

In [6]:
# Checking the no.of Rows and Columns in data set
df1.shape

(36, 9)

In [7]:
# Checking the null values in the data set
df1.isnull().sum()

S.No                          0
State/UT                      0
Name                          0
2019                          0
2020                          0
2021                          0
midPopulation                 0
RateofCrimeAgainstChildren    0
ChargesSheetingRate           0
dtype: int64

####  From above we can conclude that no null values in data set

In [8]:
# df1.info() displays the data type of each column in the DataFrame. It helps you understand whether a column contains integers, floats, strings, dates, or other data types.
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   S.No                        36 non-null     int64
 1   State/UT                    36 non-null     object
 2   Name                        36 non-null     object
 3   2019                        36 non-null     object
 4   2020                        36 non-null     int64
 5   2021                        36 non-null     int64
 6   midPopulation               36 non-null     float64
 7   RateofCrimeAgainstChildren  36 non-null     float64
 8   ChargesSheetingRate         36 non-null     float64
dtypes: float64(3), int64(3), object(3)
memory usage: 2.7+ KB

#### From above it is clearly evident that 2019 column is object data type, but 2019 column contains numerical data  need to convert 2019 column to interger data type

In [9]:
# To check the data type of particular column
df1["2019"].dtype

dtype('O')

In [10]:
# To manipulated or change data type of particular column (astype) is used
df1["2019"] = df1["2019"].astype("int")

ValueError: invalid literal for int() with base 10: '-'

#### ValueError: invalid literal for int() with base 10: '-', indicates that there is a non-integer value in your '2019' column that cannot be converted to an integer. The hyphen '-' in the data is causing the error because it's not a valid integer representation.

In [13]:
# Checking column names
df1.columns

Index(['S.No', 'State/UT', 'Name', '2019', '2020', '2021', 'midPopulation',
       'RateofCrimeAgainstChildren', 'ChargesSheetingRate'],
      dtype='object')

In [14]:
# Changing column name
df1.rename(columns={"Name":"State_Name"},inplace = True)

In [15]:
df1.columns

Index(['S.No', 'State/UT', 'State_Name', '2019', '2020', '2021',
       'midPopulation', 'RateofCrimeAgainstChildren', 'ChargesSheetingRate'],
      dtype='object')

#### From above step we have changed the column name [Name --> State_Name]

In [11]:
df1["State/UT"].unique()

array(['State', 'UT'], dtype=object)

In [17]:
df1["State_Name"].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
       'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal', 'A&N Islands', 'Chandigarh',
       'D&N Haveli and Daman & Diu+', 'Delhi', 'Jammu & Kashmir*',
       'Ladakh @', 'Lakshadweep', 'Puducherry'], dtype=object)

#### From above stetp it is clearly evident that some states like Ladakh @ ,D&N Haveli and Daman & Diu+ ,Jammu & Kashmir* have special characters at end we need to reomve.

In [18]:
df1.loc[30,"State_Name"] = "D&N Haveli and Daman & Diu"

In [19]:
df1.loc[32,"State_Name"] = "Jammu & Kashmir"

In [20]:
df1.loc[33,"State_Name"] = "Ladakh"

In [21]:
df1["State_Name"].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
       'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal', 'A&N Islands', 'Chandigarh',
       'D&N Haveli and Daman & Diu', 'Delhi', 'Jammu & Kashmir', 'Ladakh',
       'Lakshadweep', 'Puducherry'], dtype=object)

In [22]:
df1["2019"].unique()

array(['2524', '153', '6608', '9320', '5665', '167', '4685', '5119',
       '748', '1674', '6305', '4754', '19028', '19592', '148', '379',
       '125', '59', '7012', '2625', '7385', '163', '4139', '4212', '311',
       '18943', '1214', '6191', '264', '96', '7783', '470', '-', '26',
       '50'], dtype=object)

#### From above step it is clearly evident that there is (-) in data set

In [23]:
# Replacing ( _ ) with nan in 2019 column
df1["2019"] = df1["2019"].replace('-', np.nan)

In [24]:
df1["2019"].unique()

array(['2524', '153', '6608', '9320', '5665', '167', '4685', '5119',
       '748', '1674', '6305', '4754', '19028', '19592', '148', '379',
       '125', '59', '7012', '2625', '7385', '163', '4139', '4212', '311',
       '18943', '1214', '6191', '264', '96', '7783', '470', nan, '26',
       '50'], dtype=object)

In [25]:
# Now checking null values in 2019 column
df1.isnull().sum()

S.No                          0
State/UT                      0
State_Name                    0
2019                          1
2020                          0
2021                          0
midPopulation                 0
RateofCrimeAgainstChildren    0
ChargesSheetingRate           0
dtype: int64

#### From above it is evident that 2019 column have 1 null value

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   S.No                        36 non-null     int64
 1   State/UT                    36 non-null     object
 2   State_Name                  36 non-null     object
 3   2019                        35 non-null     object
 4   2020                        36 non-null     int64
 5   2021                        36 non-null     int64
 6   midPopulation               36 non-null     float64
 7   RateofCrimeAgainstChildren  36 non-null     float64
 8   ChargesSheetingRate         36 non-null     float64
dtypes: float64(3), int64(3), object(3)
memory usage: 2.7+ KB

In [27]:
# To check the data type of particular column
df1["2019"].dtype

dtype('O')

In [28]:
# To manipulated or change data type of particular column (astype) is used
df1["2019"] = df1["2019"].astype("int")

ValueError: cannot convert float NaN to integer

#### The error you're encountering, ValueError: cannot convert float NaN to integer, occurs because you're attempting to convert a column containing NaN (Not a Number) values to an integer data type. Since NaN is not a valid integer value, you cannot directly cast a column with NaN values to an integer.

In [29]:
# Replacing nan value with 0 in 2019 column
df1["2019"] = df1["2019"].fillna(0)

In [30]:
df1.isnull().sum()

S.No                          0
State/UT                      0
State_Name                    0
2019                          0
2020                          0
2021                          0
midPopulation                 0
RateofCrimeAgainstChildren    0
ChargesSheetingRate           0
dtype: int64

#### Successfully removed null values from 2019 column

In [31]:
df1["2019"].dtype

dtype('O')

In [32]:
df1["2019"] = df1["2019"].astype("int")

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   S.No                        36 non-null     int64
 1   State/UT                    36 non-null     object
 2   State_Name                  36 non-null     object
 3   2019                        36 non-null     int32
 4   2020                        36 non-null     int64
 5   2021                        36 non-null     int64
 6   midPopulation               36 non-null     float64
 7   RateofCrimeAgainstChildren  36 non-null     float64
 8   ChargesSheetingRate         36 non-null     float64
dtypes: float64(3), int32(1), int64(3), object(2)
memory usage: 2.5+ KB

#### Successfully changed 2019 column data type from object to integer.

In [34]:
df1["2020"].unique()

array([ 2648,   113,  4622,  6591,  5056,   125,  4075,  4338,   636,
        1795,  5471,  3941, 17008, 14371,   415,   142,    31,  6330,
        2121,  6580,   147,  4200,   260, 15271,  1066, 10248,   141,
         209,    67,  5362,   606,     2,     9,    71], dtype=int64)

In [35]:
df1["2021"].unique()

array([ 2669,   162,  5282,  6894,  6001,   151,  4515,  5700,   740,
        1867,  7261,  4536, 19173, 17261,   143,   481,   122,    51,
        7899,  2556,  7653,   149,  6064,  5667,   236, 16838,  1245,
        9523,   124,   234,   104,  7118,   845,     1,    17],
      dtype=int64)

In [36]:
df1["midPopulation"].unique()

array([1.511e+02, 5.900e+00, 1.208e+02, 4.750e+02, 9.750e+01, 3.800e+00,
       2.092e+02, 9.120e+01, 2.150e+01, 1.384e+02, 1.935e+02, 9.410e+01,
       2.876e+02, 3.611e+02, 1.030e+01, 1.380e+01, 4.200e+00, 8.200e+00,
       1.441e+02, 8.740e+01, 2.814e+02, 2.100e+00, 2.066e+02, 1.138e+02,
       1.230e+01, 8.533e+02, 3.800e+01, 3.000e+02, 1.100e+00, 3.200e+00,
       1.900e+00, 5.540e+01, 4.910e+01, 8.000e-01, 2.000e-01, 3.600e+00])

In [37]:
df1["RateofCrimeAgainstChildren"].unique()

array([ 17.7,  27.5,  43.7,  14.5,  61.6,  39.5,  21.6,  62.5,  34.4,
        13.5,  37.5,  48.2,  66.7,  47.8,  13.8,  34.9,  28.9,   6.2,
        54.8,  29.2,  27.2,  72.4,  29.3,  49.8,  19.2,  19.7,  32.8,
        31.7, 110.4,  72.2,  54.1, 128.5,  17.2,   1.2,  85.4,  34. ])

In [38]:
df1["ChargesSheetingRate"].unique()

array([93.2, 69.6, 56. , 68.9, 70.4, 70.9, 79.2, 44. , 53. , 83.7, 61.2,
       94.1, 61. , 55.8, 77.9, 79.8, 91.7, 80.4, 52.3, 69. , 56.3, 78.5,
       91.2, 75.9, 84.1, 72.5, 81.3, 82.1, 95.2, 32.1, 51.9, 32.5, 56.8,
       66.7, 90.5, 84.3])

In [40]:
df1.head()

,S.No,State/UT,State_Name,2019,2020,2021,midPopulation,RateofCrimeAgainstChildren,ChargesSheetingRate
0,1,State,Andhra Pradesh,2524,2648,2669,151.1,17.7,93.2
1,2,State,Arunachal Pradesh,153,113,162,5.9,27.5,69.6
2,3,State,Assam,6608,4622,5282,120.8,43.7,56.0
3,4,State,Bihar,9320,6591,6894,475.0,14.5,68.9
4,5,State,Chhattisgarh,5665,5056,6001,97.5,61.6,70.4

In [41]:
df1["Total Cases (2019 - 2021)"] = df1["2019"] + df1["2020"] + df1["2021"]

#### From above we have created a new column (Total Cases (2019 - 2021)) by adding 2019 2020 2021 columns.

In [43]:
df1.head()

,S.No,State/UT,State_Name,2019,2020,2021,midPopulation,RateofCrimeAgainstChildren,ChargesSheetingRate,Total Cases (2019 - 2021)
0,1,State,Andhra Pradesh,2524,2648,2669,151.1,17.7,93.2,7841
1,2,State,Arunachal Pradesh,153,113,162,5.9,27.5,69.6,428
2,3,State,Assam,6608,4622,5282,120.8,43.7,56.0,16512
3,4,State,Bihar,9320,6591,6894,475.0,14.5,68.9,22805
4,5,State,Chhattisgarh,5665,5056,6001,97.5,61.6,70.4,16722

In [48]:
column_order = ["S.No","State/UT","State_Name","2019","2020","2021","Total Cases (2019 - 2021)","midPopulation","RateofCrimeAgainstChildren","ChargesSheetingRate"]

In [49]:
df1 = df1[column_order]

In [51]:
df1.head()

,S.No,State/UT,State_Name,2019,2020,2021,Total Cases (2019 - 2021),midPopulation,RateofCrimeAgainstChildren,ChargesSheetingRate
0,1,State,Andhra Pradesh,2524,2648,2669,7841,151.1,17.7,93.2
1,2,State,Arunachal Pradesh,153,113,162,428,5.9,27.5,69.6
2,3,State,Assam,6608,4622,5282,16512,120.8,43.7,56.0
3,4,State,Bihar,9320,6591,6894,22805,475.0,14.5,68.9
4,5,State,Chhattisgarh,5665,5056,6001,16722,97.5,61.6,70.4

#### From above step we rearranged columns.

In [52]:
df1.shape

(36, 10)

In [53]:
# To drop duplicates from data set
df1.drop_duplicates(inplace = True)

In [54]:
df1.shape

(36, 10)

#### From above steps it is clearly evident that no duplicate values in data set.

In [55]:
# Finding outliers
df1.describe()

,S.No,2019,2020,2021,Total Cases (2019 - 2021),midPopulation,RateofCrimeAgainstChildren,ChargesSheetingRate
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,18.500000,4113.611111,3570.305556,4150.111111,11834.027778,123.375000,41.377778,70.666667
std,10.535654,5411.510643,4510.296790,5122.170130,14960.065285,172.756758,27.770211,16.723909
min,1.000000,0.000000,2.000000,1.000000,3.000000,0.200000,1.200000,32.100000
25%,9.750000,160.500000,141.750000,150.500000,439.250000,5.475000,21.125000,56.675000
50%,18.500000,2099.000000,1958.000000,2211.500000,6319.000000,71.400000,34.200000,71.700000
75%,27.250000,6219.500000,5132.500000,6271.500000,17300.750000,161.700000,54.275000,82.500000
max,36.000000,19592.000000,17008.000000,19173.000000,55209.000000,853.300000,128.500000,95.200000

In [56]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [57]:
IQR = Q3 - Q1

In [58]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_6440\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                          3
2020                          3
2021                          3
ChargesSheetingRate           0
RateofCrimeAgainstChildren    2
S.No                          0
State/UT                      0
State_Name                    0
Total Cases (2019 - 2021)     3
midPopulation                 2
dtype: int64

#### From above it is evident that outliers are present in data set.

In [59]:
# Replacing outliers with mean value of 2019 column.
Q1 = df1["2019"].quantile(0.25)
Q3 = df1["2019"].quantile(0.75)

In [60]:
IQR = Q3 - Q1

In [61]:
IQR

6059.0

In [62]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-8928.0
15308.0

In [63]:
((df1[["2019"]]<Lower) | (df1[["2019"]]>Upper)).sum()

2019    3
dtype: int64

In [64]:
Row_count = ((df1[["2019"]]<Lower) | (df1[["2019"]]>Upper))

In [65]:
Row_count_index = Row_count[Row_count["2019"]].index

In [66]:
Row_count_index

Int64Index([12, 13, 25], dtype='int64')

In [67]:
df1.loc[Row_count_index,"2019"] = df1["2019"].mean()

In [68]:
((df1[["2019"]]<Lower) | (df1[["2019"]]>Upper)).sum()

2019    0
dtype: int64

In [69]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [70]:
IQR = Q3 - Q1

In [71]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_6440\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                          0
2020                          3
2021                          3
ChargesSheetingRate           0
RateofCrimeAgainstChildren    2
S.No                          0
State/UT                      0
State_Name                    0
Total Cases (2019 - 2021)     3
midPopulation                 2
dtype: int64

In [72]:
# Replacing outliers with mean value of 2020 column.
Q1 = df1["2020"].quantile(0.25)
Q3 = df1["2020"].quantile(0.75)

In [73]:
IQR = Q3 - Q1

In [74]:
IQR

4990.75

In [75]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-7344.375
12618.625

In [76]:
((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper)).sum()

2020    3
dtype: int64

In [77]:
Row_count = ((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper))

In [78]:
Row_count_index = Row_count[Row_count["2020"]].index

In [79]:
Row_count_index

Int64Index([12, 13, 25], dtype='int64')

In [80]:
df1.loc[Row_count_index,"2020"] = df1["2020"].mean()

In [81]:
((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper)).sum()

2020    0
dtype: int64

In [82]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [83]:
IQR = Q3 - Q1

In [84]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_6440\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                          0
2020                          0
2021                          3
ChargesSheetingRate           0
RateofCrimeAgainstChildren    2
S.No                          0
State/UT                      0
State_Name                    0
Total Cases (2019 - 2021)     3
midPopulation                 2
dtype: int64

In [87]:
# Replacing outliers with mean value of 2021 column.
Q1 = df1["2021"].quantile(0.25)
Q3 = df1["2021"].quantile(0.75)

In [88]:
IQR = Q3 - Q1

In [89]:
IQR

6121.0

In [90]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-9031.0
15453.0

In [91]:
((df1[["2021"]]<Lower) | (df1[["2021"]]>Upper)).sum()

2021    3
dtype: int64

In [92]:
Row_count = ((df1[["2021"]]<Lower) | (df1[["2021"]]>Upper))

In [93]:
Row_count_index = Row_count[Row_count["2021"]].index

In [94]:
Row_count_index

Int64Index([12, 13, 25], dtype='int64')

In [95]:
df1.loc[Row_count_index,"2021"] = df1["2021"].mean()

In [96]:
((df1[["2021"]]<Lower) | (df1[["2021"]]>Upper)).sum()

2021    0
dtype: int64

In [97]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [98]:
IQR = Q3 - Q1

In [99]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_6440\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                          0
2020                          0
2021                          0
ChargesSheetingRate           0
RateofCrimeAgainstChildren    2
S.No                          0
State/UT                      0
State_Name                    0
Total Cases (2019 - 2021)     3
midPopulation                 2
dtype: int64

In [100]:
# Replacing outliers with mean value of RateofCrimeAgainstChildren column.
Q1 = df1["RateofCrimeAgainstChildren"].quantile(0.25)
Q3 = df1["RateofCrimeAgainstChildren"].quantile(0.75)

In [101]:
IQR = Q3 - Q1

In [102]:
IQR

33.15

In [103]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-28.599999999999994
104.0

In [104]:
((df1[["RateofCrimeAgainstChildren"]]<Lower) | (df1[["RateofCrimeAgainstChildren"]]>Upper)).sum()

RateofCrimeAgainstChildren    2
dtype: int64

In [105]:
Row_count = ((df1[["RateofCrimeAgainstChildren"]]<Lower) | (df1[["RateofCrimeAgainstChildren"]]>Upper))

In [106]:
Row_count_index = Row_count[Row_count["RateofCrimeAgainstChildren"]].index

In [107]:
Row_count_index

Int64Index([28, 31], dtype='int64')

In [108]:
df1.loc[Row_count_index,"RateofCrimeAgainstChildren"] = df1["RateofCrimeAgainstChildren"].mean()

In [109]:
((df1[["RateofCrimeAgainstChildren"]]<Lower) | (df1[["RateofCrimeAgainstChildren"]]>Upper)).sum()

RateofCrimeAgainstChildren    0
dtype: int64

In [110]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [111]:
IQR = Q3 - Q1

In [112]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_6440\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                          0
2020                          0
2021                          0
ChargesSheetingRate           0
RateofCrimeAgainstChildren    0
S.No                          0
State/UT                      0
State_Name                    0
Total Cases (2019 - 2021)     3
midPopulation                 2
dtype: int64

In [113]:
# Replacing outliers with mean value of Total Cases (2019 - 2021) column.
Q1 = df1["Total Cases (2019 - 2021)"].quantile(0.25)
Q3 = df1["Total Cases (2019 - 2021)"].quantile(0.75)

In [114]:
IQR = Q3 - Q1

In [115]:
IQR

16861.5

In [116]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-24853.0
42593.0

In [117]:
((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper)).sum()

Total Cases (2019 - 2021)    3
dtype: int64

In [118]:
Row_count = ((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper))

In [119]:
Row_count_index = Row_count[Row_count["Total Cases (2019 - 2021)"]].index

In [120]:
Row_count_index

Int64Index([12, 13, 25], dtype='int64')

In [121]:
df1.loc[Row_count_index,"Total Cases (2019 - 2021)"] = df1["Total Cases (2019 - 2021)"].mean()

In [122]:
((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper)).sum()

Total Cases (2019 - 2021)    0
dtype: int64

In [123]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [124]:
IQR = Q3 - Q1

In [125]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_6440\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                          0
2020                          0
2021                          0
ChargesSheetingRate           0
RateofCrimeAgainstChildren    0
S.No                          0
State/UT                      0
State_Name                    0
Total Cases (2019 - 2021)     0
midPopulation                 2
dtype: int64

In [126]:
# Replacing outliers with mean value of midPopulation column.
Q1 = df1["midPopulation"].quantile(0.25)
Q3 = df1["midPopulation"].quantile(0.75)

In [127]:
IQR = Q3 - Q1

In [128]:
IQR

156.225

In [129]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-228.86249999999998
396.03749999999997

In [130]:
((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper)).sum()

midPopulation    2
dtype: int64

In [131]:
Row_count = ((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper))

In [132]:
Row_count_index = Row_count[Row_count["midPopulation"]].index

In [133]:
Row_count_index

Int64Index([3, 25], dtype='int64')

In [134]:
df1.loc[Row_count_index,"midPopulation"] = df1["midPopulation"].mean()

In [135]:
((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper)).sum()

midPopulation    0
dtype: int64

In [136]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [137]:
IQR = Q3 - Q1

In [138]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_6440\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                          0
2020                          0
2021                          0
ChargesSheetingRate           0
RateofCrimeAgainstChildren    0
S.No                          0
State/UT                      0
State_Name                    0
Total Cases (2019 - 2021)     0
midPopulation                 1
dtype: int64

In [139]:
# Replacing outliers with mean value of midPopulation column.
Q1 = df1["midPopulation"].quantile(0.25)
Q3 = df1["midPopulation"].quantile(0.75)

In [140]:
IQR = Q3 - Q1

In [141]:
IQR

134.35

In [142]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-196.04999999999998
341.34999999999997

In [143]:
((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper)).sum()

midPopulation    1
dtype: int64

In [144]:
Row_count = ((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper))

In [145]:
Row_count_index = Row_count[Row_count["midPopulation"]].index

In [146]:
Row_count_index

Int64Index([13], dtype='int64')

In [147]:
df1.loc[Row_count_index,"midPopulation"] = df1["midPopulation"].mean()

In [148]:
((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper)).sum()

midPopulation    0
dtype: int64

In [149]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [150]:
IQR = Q3 - Q1

In [151]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_6440\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                          0
2020                          0
2021                          0
ChargesSheetingRate           0
RateofCrimeAgainstChildren    0
S.No                          0
State/UT                      0
State_Name                    0
Total Cases (2019 - 2021)     0
midPopulation                 0
dtype: int64

In [152]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 35
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   S.No                        36 non-null     int64
 1   State/UT                    36 non-null     object
 2   State_Name                  36 non-null     object
 3   2019                        36 non-null     float64
 4   2020                        36 non-null     float64
 5   2021                        36 non-null     float64
 6   Total Cases (2019 - 2021)   36 non-null     float64
 7   midPopulation               36 non-null     float64
 8   RateofCrimeAgainstChildren  36 non-null     float64
 9   ChargesSheetingRate         36 non-null     float64
dtypes: float64(7), int64(1), object(2)
memory usage: 4.1+ KB

In [153]:
df1["2019"].dtype

dtype('float64')

In [154]:
df1["2019"] = df1["2019"].astype("int")

In [155]:
df1["2020"].dtype

dtype('float64')

In [156]:
df1["2020"] = df1["2020"].astype("int")

In [157]:
df1["2021"].dtype

dtype('float64')

In [158]:
df1["2021"] = df1["2021"].astype("int")

In [161]:
df1["Total Cases (2019 - 2021)"].dtype

dtype('float64')

In [162]:
df1["Total Cases (2019 - 2021)"] = df1["Total Cases (2019 - 2021)"].astype("int")

In [163]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 35
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   S.No                        36 non-null     int64
 1   State/UT                    36 non-null     object
 2   State_Name                  36 non-null     object
 3   2019                        36 non-null     int32
 4   2020                        36 non-null     int32
 5   2021                        36 non-null     int32
 6   Total Cases (2019 - 2021)   36 non-null     int32
 7   midPopulation               36 non-null     float64
 8   RateofCrimeAgainstChildren  36 non-null     float64
 9   ChargesSheetingRate         36 non-null     float64
dtypes: float64(3), int32(4), int64(1), object(2)
memory usage: 3.6+ KB

In [164]:
df1

,S.No,State/UT,State_Name,2019,2020,2021,Total Cases (2019 - 2021),midPopulation,RateofCrimeAgainstChildren,ChargesSheetingRate
0,1,State,Andhra Pradesh,2524,2648,2669,7841,151.100000,17.700000,93.2
1,2,State,Arunachal Pradesh,153,113,162,428,5.900000,27.500000,69.6
2,3,State,Assam,6608,4622,5282,16512,120.800000,43.700000,56.0
3,4,State,Bihar,9320,6591,6894,22805,123.375000,14.500000,68.9
4,5,State,Chhattisgarh,5665,5056,6001,16722,97.500000,61.600000,70.4
5,6,State,Goa,167,125,151,443,3.800000,39.500000,70.9
6,7,State,Gujarat,4685,4075,4515,13275,209.200000,21.600000,79.2
7,8,State,Haryana,5119,4338,5700,15157,91.200000,62.500000,44.0
8,9,State,Himachal Pradesh,748,636,740,2124,21.500000,34.400000,53.0
9,10,State,Jharkhand,1674,1795,1867,5336,138.400000,13.500000,83.7
10,11,State,Karnataka,6305,5471,7261,19037,193.500000,37.500000,61.2
11,12,State,Kerala,4754,3941,4536,13231,94.100000,48.200000,94.1
12,13,State,Madhya Pradesh,4113,3570,4150,11834,287.600000,66.700000,61.0
13,14,State,Maharashtra,4113,3570,4150,11834,93.331944,47.800000,55.8
14,15,State,Manipur,148,125,143,416,10.300000,13.800000,77.9
15,16,State,Meghalaya,379,415,481,1275,13.800000,34.900000,79.8
16,17,State,Mizoram,125,142,122,389,4.200000,28.900000,91.7
17,18,State,Nagaland,59,31,51,141,8.200000,6.200000,80.4
18,19,State,Odisha,7012,6330,7899,21241,144.100000,54.800000,52.3
19,20,State,Punjab,2625,2121,2556,7302,87.400000,29.200000,69.0
20,21,State,Rajasthan,7385,6580,7653,21618,281.400000,27.200000,56.3
21,22,State,Sikkim,163,147,149,459,2.100000,72.400000,78.5
22,23,State,Tamil Nadu,4139,4338,6064,14541,206.600000,29.300000,91.2
23,24,State,Telangana,4212,4200,5667,14079,113.800000,49.800000,75.9
24,25,State,Tripura,311,260,236,807,12.300000,19.200000,84.1
25,26,State,Uttar Pradesh,4113,3570,4150,11834,123.375000,19.700000,72.5
26,27,State,Uttarakhand,1214,1066,1245,3525,38.000000,32.800000,81.3
27,28,State,West Bengal,6191,10248,9523,25962,300.000000,31.700000,82.1
28,29,UT,A&N Islands,153,141,124,418,1.100000,41.377778,95.2
29,30,UT,Chandigarh,264,209,234,707,3.200000,72.200000,32.1
30,31,UT,D&N Haveli and Daman & Diu,96,67,104,267,1.900000,54.100000,51.9
31,32,UT,Delhi,7783,5362,7118,20263,55.400000,41.377778,32.5
32,33,UT,Jammu & Kashmir,470,606,845,1921,49.100000,17.200000,56.8
33,34,UT,Ladakh,0,2,1,3,0.800000,1.200000,66.7
34,35,UT,Lakshadweep,26,9,17,52,0.200000,85.400000,90.5
35,36,UT,Puducherry,50,71,122,243,3.600000,34.000000,84.3

In [166]:
df1.to_csv(r"E:\INTERNSHIP\Projects\Criminal Activities in India cleaned data\crime_against_children_(State-UT-wise)_2019-2021.csv",index = False)