In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv(r"E:\INTERNSHIP\Projects\Criminal Activities in India\crime_women_children\crime_against_women_(State-UT-wise)_2019-2021.csv")

In [3]:
df1

,S.No,State/UT,Name,2019,2020,2021,midPopulation,RateofCrimeAgainstWomen,ChargesSheetingRate
0,1,State,Andhra Pradesh,17746,17089,17752,264.2,67.2,93.5
1,2,State,Arunachal Pradesh,317,281,366,7.5,49.1,77.6
2,3,State,Assam,30025,26352,29046,172.6,168.3,52.9
3,4,State,Bihar,18587,15359,17950,593.7,30.2,69.4
4,5,State,Chhattisgarh,7689,7385,7344,147.6,49.8,88.5
5,6,State,Goa,329,219,224,7.7,28.9,77.4
6,7,State,Gujarat,8799,8028,7348,333.2,22.1,93.3
7,8,State,Haryana,14683,13000,16658,139.2,119.7,57.1
8,9,State,Himachal Pradesh,1636,1614,1599,36.5,43.8,76.5
9,10,State,Jharkhand,8760,7630,8110,188.5,43.0,79.7
10,11,State,Karnataka,13828,12680,14468,330.0,43.8,87.2
11,12,State,Kerala,11462,10139,13539,184.7,73.3,94.6
12,13,State,Madhya Pradesh,27560,25640,30673,410.8,74.7,83.7
13,14,State,Maharashtra,37144,31954,39526,598.9,66.0,82.4
14,15,State,Manipur,266,247,302,15.8,19.1,48.4
15,16,State,Meghalaya,558,568,685,16.4,41.7,76.1
16,17,State,Mizoram,170,172,176,6.0,29.1,94.9
17,18,State,Nagaland,43,39,54,10.6,5.1,80.4
18,19,State,Odisha,23183,25489,31352,227.4,137.8,80.1
19,20,State,Punjab,5886,4838,5662,144.3,39.2,75.3
20,21,State,Rajasthan,41550,34535,40738,386.7,105.4,54.5
21,22,State,Sikkim,125,140,130,3.2,40.6,98.3
22,23,State,Tamil Nadu,5934,6630,8501,382.8,22.2,87.5
23,24,State,Telangana,18394,17791,20865,187.7,111.2,87.8
24,25,State,Tripura,1070,874,807,20.1,40.2,84.7
25,26,State,Uttar Pradesh,59853,49385,56083,1109.6,50.5,76.5
26,27,State,Uttarakhand,2541,2846,3431,55.8,61.5,81.5
27,28,State,West Bengal,29859,36439,35884,481.2,74.6,93.7
28,29,UT,A&N Islands,135,143,169,1.9,89.4,97.1
29,30,UT,Chandigarh,515,301,343,5.6,61.7,51.0
30,31,UT,D&N Haveli and Daman & Diu+,82,61,99,3.9,25.3,74.0
31,32,UT,Delhi,13395,10093,14277,96.7,147.6,71.2
32,33,UT,Jammu & Kashmir,3069,3405,3937,64.0,61.6,72.5
33,34,UT,Ladakh,-,9,18,1.3,13.8,85.7
34,35,UT,Lakshadweep,38,15,9,0.3,27.3,80.0
35,36,UT,Puducherry,95,113,153,8.3,18.5,97.6

In [4]:
# Checking top 5 Rows
df1.head()

,S.No,State/UT,Name,2019,2020,2021,midPopulation,RateofCrimeAgainstWomen,ChargesSheetingRate
0,1,State,Andhra Pradesh,17746,17089,17752,264.2,67.2,93.5
1,2,State,Arunachal Pradesh,317,281,366,7.5,49.1,77.6
2,3,State,Assam,30025,26352,29046,172.6,168.3,52.9
3,4,State,Bihar,18587,15359,17950,593.7,30.2,69.4
4,5,State,Chhattisgarh,7689,7385,7344,147.6,49.8,88.5

In [5]:
# Checking bottom 5 Rows
df1.tail()

,S.No,State/UT,Name,2019,2020,2021,midPopulation,RateofCrimeAgainstWomen,ChargesSheetingRate
31,32,UT,Delhi,13395,10093,14277,96.7,147.6,71.2
32,33,UT,Jammu & Kashmir,3069,3405,3937,64.0,61.6,72.5
33,34,UT,Ladakh,-,9,18,1.3,13.8,85.7
34,35,UT,Lakshadweep,38,15,9,0.3,27.3,80.0
35,36,UT,Puducherry,95,113,153,8.3,18.5,97.6

In [6]:
# Checking the no.of Rows and Columns in data set
df1.shape

(36, 9)

In [7]:
# Checking the null values in the data set
df1.isnull().sum()

S.No                       0
State/UT                   0
Name                       0
2019                       0
2020                       0
2021                       0
midPopulation              0
RateofCrimeAgainstWomen    0
ChargesSheetingRate        0
dtype: int64

####  From above we can conclude that no null values in data set

In [8]:
# df1.info() displays the data type of each column in the DataFrame. It helps you understand whether a column contains integers, floats, strings, dates, or other data types.
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   S.No                     36 non-null     int64
 1   State/UT                 36 non-null     object
 2   Name                     36 non-null     object
 3   2019                     36 non-null     object
 4   2020                     36 non-null     int64
 5   2021                     36 non-null     int64
 6   midPopulation            36 non-null     float64
 7   RateofCrimeAgainstWomen  36 non-null     float64
 8   ChargesSheetingRate      36 non-null     float64
dtypes: float64(3), int64(3), object(3)
memory usage: 2.7+ KB

#### From above it is clearly evident that 2019 column is object data type, but 2019 column contains numerical data  need to convert 2019 column to interger data type

In [9]:
# To check the data type of particular column
df1["2019"].dtype

dtype('O')

In [10]:
# To manipulated or change data type of particular column (astype) is used
df1["2019"] = df1["2019"].astype("int")

ValueError: invalid literal for int() with base 10: '-'

#### ValueError: invalid literal for int() with base 10: '-', indicates that there is a non-integer value in your '2019' column that cannot be converted to an integer. The hyphen '-' in the data is causing the error because it's not a valid integer representation.

In [11]:
# Checking column names
df1.columns

Index(['S.No', 'State/UT', 'Name', '2019', '2020', '2021', 'midPopulation',
       'RateofCrimeAgainstWomen', 'ChargesSheetingRate'],
      dtype='object')

In [12]:
# Changing column name
df1.rename(columns={"Name":"State_Name"},inplace = True)

In [13]:
df1.columns

Index(['S.No', 'State/UT', 'State_Name', '2019', '2020', '2021',
       'midPopulation', 'RateofCrimeAgainstWomen', 'ChargesSheetingRate'],
      dtype='object')

#### From above step we have changed the column name [Name --> State_Name]

In [14]:
df1["State/UT"].unique()

array(['State', 'UT'], dtype=object)

In [15]:
df1["State_Name"].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
       'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal', 'A&N Islands', 'Chandigarh',
       'D&N Haveli and Daman & Diu+', 'Delhi', 'Jammu & Kashmir',
       'Ladakh', 'Lakshadweep', 'Puducherry'], dtype=object)

#### From above stetp it is clearly evident that some states like D&N Haveli and Daman & Diu+ have special characters at end we need to reomve.

In [16]:
df1.loc[30,"State_Name"] = "D&N Haveli and Daman & Diu"

In [17]:
df1["State_Name"].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
       'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal', 'A&N Islands', 'Chandigarh',
       'D&N Haveli and Daman & Diu', 'Delhi', 'Jammu & Kashmir', 'Ladakh',
       'Lakshadweep', 'Puducherry'], dtype=object)

In [18]:
df1["2019"].unique()

array(['17746', '317', '30025', '18587', '7689', '329', '8799', '14683',
       '1636', '8760', '13828', '11462', '27560', '37144', '266', '558',
       '170', '43', '23183', '5886', '41550', '125', '5934', '18394',
       '1070', '59853', '2541', '29859', '135', '515', '82', '13395',
       '3069', '-', '38', '95'], dtype=object)

#### From above step it is clearly evident that there is (-) in data set.

In [19]:
# Replacing ( _ ) with nan in 2019 column
df1["2019"] = df1["2019"].replace('-', np.nan)

In [20]:
df1["2019"].unique()

array(['17746', '317', '30025', '18587', '7689', '329', '8799', '14683',
       '1636', '8760', '13828', '11462', '27560', '37144', '266', '558',
       '170', '43', '23183', '5886', '41550', '125', '5934', '18394',
       '1070', '59853', '2541', '29859', '135', '515', '82', '13395',
       '3069', nan, '38', '95'], dtype=object)

In [21]:
# Now checking null values in 2019 column
df1.isnull().sum()

S.No                       0
State/UT                   0
State_Name                 0
2019                       1
2020                       0
2021                       0
midPopulation              0
RateofCrimeAgainstWomen    0
ChargesSheetingRate        0
dtype: int64

#### From above it is evident that 2019 column have 1 null value

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   S.No                     36 non-null     int64
 1   State/UT                 36 non-null     object
 2   State_Name               36 non-null     object
 3   2019                     35 non-null     object
 4   2020                     36 non-null     int64
 5   2021                     36 non-null     int64
 6   midPopulation            36 non-null     float64
 7   RateofCrimeAgainstWomen  36 non-null     float64
 8   ChargesSheetingRate      36 non-null     float64
dtypes: float64(3), int64(3), object(3)
memory usage: 2.7+ KB

In [23]:
# To check the data type of particular column
df1["2019"].dtype

dtype('O')

In [24]:
# To manipulated or change data type of particular column (astype) is used
df1["2019"] = df1["2019"].astype("int")

ValueError: cannot convert float NaN to integer

#### The error you're encountering, ValueError: cannot convert float NaN to integer, occurs because you're attempting to convert a column containing NaN (Not a Number) values to an integer data type. Since NaN is not a valid integer value, you cannot directly cast a column with NaN values to an integer.

In [25]:
# Replacing nan value with 0 in 2019 column
df1["2019"] = df1["2019"].fillna(0)

In [26]:
df1.isnull().sum()

S.No                       0
State/UT                   0
State_Name                 0
2019                       0
2020                       0
2021                       0
midPopulation              0
RateofCrimeAgainstWomen    0
ChargesSheetingRate        0
dtype: int64

#### Successfully removed null values from 2019 column

In [27]:
df1["2019"].dtype

dtype('O')

In [28]:
df1["2019"] = df1["2019"].astype("int")

In [29]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   S.No                     36 non-null     int64
 1   State/UT                 36 non-null     object
 2   State_Name               36 non-null     object
 3   2019                     36 non-null     int32
 4   2020                     36 non-null     int64
 5   2021                     36 non-null     int64
 6   midPopulation            36 non-null     float64
 7   RateofCrimeAgainstWomen  36 non-null     float64
 8   ChargesSheetingRate      36 non-null     float64
dtypes: float64(3), int32(1), int64(3), object(2)
memory usage: 2.5+ KB

#### Successfully changed 2019 column data type from object to integer

In [30]:
df1["2020"].unique()

array([17089,   281, 26352, 15359,  7385,   219,  8028, 13000,  1614,
        7630, 12680, 10139, 25640, 31954,   247,   568,   172,    39,
       25489,  4838, 34535,   140,  6630, 17791,   874, 49385,  2846,
       36439,   143,   301,    61, 10093,  3405,     9,    15,   113],
      dtype=int64)

In [31]:
df1["2021"].unique()

array([17752,   366, 29046, 17950,  7344,   224,  7348, 16658,  1599,
        8110, 14468, 13539, 30673, 39526,   302,   685,   176,    54,
       31352,  5662, 40738,   130,  8501, 20865,   807, 56083,  3431,
       35884,   169,   343,    99, 14277,  3937,    18,     9,   153],
      dtype=int64)

In [32]:
df1["midPopulation"].unique()

array([2.6420e+02, 7.5000e+00, 1.7260e+02, 5.9370e+02, 1.4760e+02,
       7.7000e+00, 3.3320e+02, 1.3920e+02, 3.6500e+01, 1.8850e+02,
       3.3000e+02, 1.8470e+02, 4.1080e+02, 5.9890e+02, 1.5800e+01,
       1.6400e+01, 6.0000e+00, 1.0600e+01, 2.2740e+02, 1.4430e+02,
       3.8670e+02, 3.2000e+00, 3.8280e+02, 1.8770e+02, 2.0100e+01,
       1.1096e+03, 5.5800e+01, 4.8120e+02, 1.9000e+00, 5.6000e+00,
       3.9000e+00, 9.6700e+01, 6.4000e+01, 1.3000e+00, 3.0000e-01,
       8.3000e+00])

In [34]:
df1["RateofCrimeAgainstWomen"].unique()

array([ 67.2,  49.1, 168.3,  30.2,  49.8,  28.9,  22.1, 119.7,  43.8,
        43. ,  73.3,  74.7,  66. ,  19.1,  41.7,  29.1,   5.1, 137.8,
        39.2, 105.4,  40.6,  22.2, 111.2,  40.2,  50.5,  61.5,  74.6,
        89.4,  61.7,  25.3, 147.6,  61.6,  13.8,  27.3,  18.5])

In [35]:
df1["ChargesSheetingRate"].unique()

array([93.5, 77.6, 52.9, 69.4, 88.5, 77.4, 93.3, 57.1, 76.5, 79.7, 87.2,
       94.6, 83.7, 82.4, 48.4, 76.1, 94.9, 80.4, 80.1, 75.3, 54.5, 98.3,
       87.5, 87.8, 84.7, 81.5, 93.7, 97.1, 51. , 74. , 71.2, 72.5, 85.7,
       80. , 97.6])

In [36]:
df1.head()

,S.No,State/UT,State_Name,2019,2020,2021,midPopulation,RateofCrimeAgainstWomen,ChargesSheetingRate
0,1,State,Andhra Pradesh,17746,17089,17752,264.2,67.2,93.5
1,2,State,Arunachal Pradesh,317,281,366,7.5,49.1,77.6
2,3,State,Assam,30025,26352,29046,172.6,168.3,52.9
3,4,State,Bihar,18587,15359,17950,593.7,30.2,69.4
4,5,State,Chhattisgarh,7689,7385,7344,147.6,49.8,88.5

In [37]:
df1["Total Cases (2019 - 2021)"] = df1["2019"] + df1["2020"] + df1["2021"]

#### From above we have created a new column (Total Cases (2019 - 2021)) by adding 2019 2020 2021 columns.

In [38]:
df1.head()

,S.No,State/UT,State_Name,2019,2020,2021,midPopulation,RateofCrimeAgainstWomen,ChargesSheetingRate,Total Cases (2019 - 2021)
0,1,State,Andhra Pradesh,17746,17089,17752,264.2,67.2,93.5,52587
1,2,State,Arunachal Pradesh,317,281,366,7.5,49.1,77.6,964
2,3,State,Assam,30025,26352,29046,172.6,168.3,52.9,85423
3,4,State,Bihar,18587,15359,17950,593.7,30.2,69.4,51896
4,5,State,Chhattisgarh,7689,7385,7344,147.6,49.8,88.5,22418

In [39]:
column_order = ["S.No","State/UT","State_Name","2019","2020","2021","Total Cases (2019 - 2021)","midPopulation","RateofCrimeAgainstWomen","ChargesSheetingRate"]

In [40]:
df1 = df1[column_order]

In [42]:
df1.head()

,S.No,State/UT,State_Name,2019,2020,2021,Total Cases (2019 - 2021),midPopulation,RateofCrimeAgainstWomen,ChargesSheetingRate
0,1,State,Andhra Pradesh,17746,17089,17752,52587,264.2,67.2,93.5
1,2,State,Arunachal Pradesh,317,281,366,964,7.5,49.1,77.6
2,3,State,Assam,30025,26352,29046,85423,172.6,168.3,52.9
3,4,State,Bihar,18587,15359,17950,51896,593.7,30.2,69.4
4,5,State,Chhattisgarh,7689,7385,7344,22418,147.6,49.8,88.5

#### From above step we rearranged columns.

In [43]:
df1.shape

(36, 10)

In [44]:
# To drop duplicates from data set
df1.drop_duplicates(inplace = True)

In [45]:
df1.shape

(36, 10)

#### From above steps it is clearly evident that no duplicate values in data set.

In [46]:
# Finding outliers
df1.describe()

,S.No,2019,2020,2021,Total Cases (2019 - 2021),midPopulation,RateofCrimeAgainstWomen,ChargesSheetingRate
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.00000,36.000000,36.000000
mean,18.500000,11259.055556,10319.527778,11896.611111,33475.194444,184.57500,58.425000,79.516667
std,10.535654,14377.616661,12867.918034,14719.628305,41835.466483,237.22254,39.400518,13.451893
min,1.000000,0.000000,9.000000,9.000000,27.000000,0.30000,5.100000,48.400000
25%,9.750000,304.250000,240.000000,282.500000,804.250000,8.15000,29.050000,74.975000
50%,18.500000,5910.000000,5734.000000,6503.000000,18725.500000,117.95000,46.450000,80.250000
75%,27.250000,17908.000000,15791.500000,17801.500000,52068.750000,280.65000,73.625000,87.975000
max,36.000000,59853.000000,49385.000000,56083.000000,165321.000000,1109.60000,168.300000,98.300000

In [47]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [48]:
IQR = Q3 - Q1

In [49]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         1
2020                         1
2021                         1
ChargesSheetingRate          4
RateofCrimeAgainstWomen      2
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    1
midPopulation                1
dtype: int64

#### From above it is evident that outliers are present in data set.

In [50]:
# Replacing outliers with mean value of 2019 column.
Q1 = df1["2019"].quantile(0.25)
Q3 = df1["2019"].quantile(0.75)

In [51]:
IQR = Q3 - Q1

In [52]:
IQR

17603.75

In [53]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-26101.375
44313.625

In [54]:
((df1[["2019"]]<Lower) | (df1[["2019"]]>Upper)).sum()

2019    1
dtype: int64

In [55]:
Row_count = ((df1[["2019"]]<Lower) | (df1[["2019"]]>Upper))

In [56]:
Row_count_index = Row_count[Row_count["2019"]].index

In [57]:
Row_count_index

Int64Index([25], dtype='int64')

In [58]:
df1.loc[Row_count_index,"2019"] = df1["2019"].mean()

In [59]:
((df1[["2019"]]<Lower) | (df1[["2019"]]>Upper)).sum()

2019    0
dtype: int64

In [63]:
# Replacing outliers with mean value of 2020 column.
Q1 = df1["2020"].quantile(0.25)
Q3 = df1["2020"].quantile(0.75)

In [64]:
IQR = Q3 - Q1

In [65]:
IQR

15551.5

In [66]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-23087.25
39118.75

In [67]:
((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper)).sum()

2020    1
dtype: int64

In [68]:
Row_count = ((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper))

In [69]:
Row_count_index = Row_count[Row_count["2020"]].index

In [70]:
Row_count_index

Int64Index([25], dtype='int64')

In [71]:
df1.loc[Row_count_index,"2020"] = df1["2020"].mean()

In [72]:
((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper)).sum()

2020    0
dtype: int64

In [73]:
# Replacing outliers with mean value of 2021 column.
Q1 = df1["2021"].quantile(0.25)
Q3 = df1["2021"].quantile(0.75)

In [74]:
IQR = Q3 - Q1

In [75]:
IQR

17519.0

In [76]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-25996.0
44080.0

In [77]:
((df1[["2021"]]<Lower) | (df1[["2021"]]>Upper)).sum()

2021    1
dtype: int64

In [78]:
Row_count = ((df1[["2021"]]<Lower) | (df1[["2021"]]>Upper))

In [79]:
Row_count_index = Row_count[Row_count["2021"]].index

In [80]:
Row_count_index

Int64Index([25], dtype='int64')

In [81]:
df1.loc[Row_count_index,"2021"] = df1["2021"].mean()

In [82]:
((df1[["2021"]]<Lower) | (df1[["2021"]]>Upper)).sum()

2021    0
dtype: int64

In [83]:
# Replacing outliers with mean value of ChargesSheetingRate column.
Q1 = df1["ChargesSheetingRate"].quantile(0.25)
Q3 = df1["ChargesSheetingRate"].quantile(0.75)

In [84]:
IQR = Q3 - Q1

In [85]:
IQR

13.0

In [86]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

55.474999999999994
107.475

In [87]:
((df1[["ChargesSheetingRate"]]<Lower) | (df1[["ChargesSheetingRate"]]>Upper)).sum()

ChargesSheetingRate    4
dtype: int64

In [88]:
Row_count = ((df1[["ChargesSheetingRate"]]<Lower) | (df1[["ChargesSheetingRate"]]>Upper))

In [89]:
Row_count_index = Row_count[Row_count["ChargesSheetingRate"]].index

In [90]:
Row_count_index

Int64Index([2, 14, 20, 29], dtype='int64')

In [91]:
df1.loc[Row_count_index,"ChargesSheetingRate"] = df1["ChargesSheetingRate"].mean()

In [92]:
((df1[["ChargesSheetingRate"]]<Lower) | (df1[["ChargesSheetingRate"]]>Upper)).sum()

ChargesSheetingRate    0
dtype: int64

In [93]:
# Replacing outliers with mean value of RateofCrimeAgainstWomen column.
Q1 = df1["RateofCrimeAgainstWomen"].quantile(0.25)
Q3 = df1["RateofCrimeAgainstWomen"].quantile(0.75)

In [94]:
IQR = Q3 - Q1

In [95]:
IQR

44.575

In [96]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-37.812500000000014
140.4875

In [98]:
((df1[["RateofCrimeAgainstWomen"]]<Lower) | (df1[["RateofCrimeAgainstWomen"]]>Upper)).sum()

RateofCrimeAgainstWomen    2
dtype: int64

In [99]:
Row_count = ((df1[["RateofCrimeAgainstWomen"]]<Lower) | (df1[["RateofCrimeAgainstWomen"]]>Upper))

In [101]:
Row_count_index = Row_count[Row_count["RateofCrimeAgainstWomen"]].index

In [102]:
Row_count_index

Int64Index([2, 31], dtype='int64')

In [103]:
df1.loc[Row_count_index,"RateofCrimeAgainstWomen"] = df1["RateofCrimeAgainstWomen"].mean()

In [104]:
((df1[["RateofCrimeAgainstWomen"]]<Lower) | (df1[["RateofCrimeAgainstWomen"]]>Upper)).sum()

RateofCrimeAgainstWomen    0
dtype: int64

In [105]:
# Replacing outliers with mean value of Total Cases (2019 - 2021) column.
Q1 = df1["Total Cases (2019 - 2021)"].quantile(0.25)
Q3 = df1["Total Cases (2019 - 2021)"].quantile(0.75)

In [106]:
IQR = Q3 - Q1

In [107]:
IQR

51264.5

In [108]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-76092.5
128965.5

In [109]:
((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper)).sum()

Total Cases (2019 - 2021)    1
dtype: int64

In [110]:
Row_count = ((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper))

In [111]:
Row_count_index = Row_count[Row_count["Total Cases (2019 - 2021)"]].index

In [112]:
Row_count_index

Int64Index([25], dtype='int64')

In [113]:
df1.loc[Row_count_index,"Total Cases (2019 - 2021)"] = df1["Total Cases (2019 - 2021)"].mean()

In [114]:
((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper)).sum()

Total Cases (2019 - 2021)    0
dtype: int64

In [115]:
# Replacing outliers with mean value of midPopulation column.
Q1 = df1["midPopulation"].quantile(0.25)
Q3 = df1["midPopulation"].quantile(0.75)

In [116]:
IQR = Q3 - Q1

In [117]:
IQR

272.5

In [118]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-400.6
689.4

In [119]:
((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper)).sum()

midPopulation    1
dtype: int64

In [120]:
Row_count = ((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper))

In [121]:
Row_count_index = Row_count[Row_count["midPopulation"]].index

In [122]:
Row_count_index

Int64Index([25], dtype='int64')

In [123]:
df1.loc[Row_count_index,"midPopulation"] = df1["midPopulation"].mean()

In [124]:
((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper)).sum()

midPopulation    0
dtype: int64

In [125]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [126]:
IQR = Q3 - Q1

In [127]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         1
2020                         2
2021                         0
ChargesSheetingRate          1
RateofCrimeAgainstWomen      1
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    1
midPopulation                2
dtype: int64

In [128]:
# Replacing outliers with mean value of 2019 column.
Q1 = df1["2019"].quantile(0.25)
Q3 = df1["2019"].quantile(0.75)

In [129]:
IQR = Q3 - Q1

In [130]:
IQR

15144.5

In [131]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-22412.5
38165.5

In [132]:
((df1[["2019"]]<Lower) | (df1[["2019"]]>Upper)).sum()

2019    1
dtype: int64

In [133]:
Row_count = ((df1[["2019"]]<Lower) | (df1[["2019"]]>Upper))

In [134]:
Row_count_index = Row_count[Row_count["2019"]].index

In [135]:
Row_count_index

Int64Index([20], dtype='int64')

In [136]:
df1.loc[Row_count_index,"2019"] = df1["2019"].mean()

In [137]:
((df1[["2019"]]<Lower) | (df1[["2019"]]>Upper)).sum()

2019    0
dtype: int64

In [138]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [139]:
IQR = Q3 - Q1

In [140]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         1
2020                         2
2021                         0
ChargesSheetingRate          1
RateofCrimeAgainstWomen      1
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    1
midPopulation                2
dtype: int64

In [141]:
# Replacing outliers with mean value of 2019 column.
Q1 = df1["2019"].quantile(0.25)
Q3 = df1["2019"].quantile(0.75)

In [142]:
IQR = Q3 - Q1

In [143]:
IQR

13737.5

In [144]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-20302.0
34648.0

In [145]:
((df1[["2019"]]<Lower) | (df1[["2019"]]>Upper)).sum()

2019    1
dtype: int64

In [146]:
Row_count = ((df1[["2019"]]<Lower) | (df1[["2019"]]>Upper))

In [147]:
Row_count_index = Row_count[Row_count["2019"]].index

In [148]:
Row_count_index

Int64Index([13], dtype='int64')

In [149]:
df1.loc[Row_count_index,"2019"] = df1["2019"].mean()

In [150]:
((df1[["2019"]]<Lower) | (df1[["2019"]]>Upper)).sum()

2019    0
dtype: int64

In [151]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [152]:
IQR = Q3 - Q1

In [153]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         0
2020                         2
2021                         0
ChargesSheetingRate          1
RateofCrimeAgainstWomen      1
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    1
midPopulation                2
dtype: int64

In [154]:
# Replacing outliers with mean value of 2020 column.
Q1 = df1["2020"].quantile(0.25)
Q3 = df1["2020"].quantile(0.75)

In [155]:
IQR = Q3 - Q1

In [156]:
IQR

13349.75

In [157]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-19784.625
33614.375

In [158]:
((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper)).sum()

2020    2
dtype: int64

In [159]:
Row_count = ((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper))

In [160]:
Row_count_index = Row_count[Row_count["2020"]].index

In [161]:
Row_count_index

Int64Index([20, 27], dtype='int64')

In [162]:
df1.loc[Row_count_index,"2020"] = df1["2020"].mean()

In [163]:
((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper)).sum()

2020    0
dtype: int64

In [164]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [165]:
IQR = Q3 - Q1

In [166]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         0
2020                         1
2021                         0
ChargesSheetingRate          1
RateofCrimeAgainstWomen      1
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    1
midPopulation                2
dtype: int64

In [167]:
# Replacing outliers with mean value of 2020 column.
Q1 = df1["2020"].quantile(0.25)
Q3 = df1["2020"].quantile(0.75)

In [168]:
IQR = Q3 - Q1

In [169]:
IQR

10669.645833333332

In [170]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-15764.468749999998
26914.11458333333

In [171]:
((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper)).sum()

2020    1
dtype: int64

In [172]:
Row_count = ((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper))

In [173]:
Row_count_index = Row_count[Row_count["2020"]].index

In [174]:
Row_count_index

Int64Index([13], dtype='int64')

In [175]:
df1.loc[Row_count_index,"2020"] = df1["2020"].mean()

In [176]:
((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper)).sum()

2020    0
dtype: int64

In [177]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [178]:
IQR = Q3 - Q1

In [179]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         0
2020                         3
2021                         0
ChargesSheetingRate          1
RateofCrimeAgainstWomen      1
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    1
midPopulation                2
dtype: int64

In [180]:
# Replacing outliers with mean value of 2020 column.
Q1 = df1["2020"].quantile(0.25)
Q3 = df1["2020"].quantile(0.75)

In [181]:
IQR = Q3 - Q1

In [182]:
IQR

9944.131944444445

In [183]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-14676.197916666668
25100.329861111113

In [184]:
((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper)).sum()

2020    3
dtype: int64

In [185]:
Row_count = ((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper))

In [186]:
Row_count_index = Row_count[Row_count["2020"]].index

In [187]:
Row_count_index

Int64Index([2, 12, 18], dtype='int64')

In [188]:
df1.loc[Row_count_index,"2020"] = df1["2020"].mean()

In [189]:
((df1[["2020"]]<Lower) | (df1[["2020"]]>Upper)).sum()

2020    0
dtype: int64

In [190]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [191]:
IQR = Q3 - Q1

In [192]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         0
2020                         0
2021                         0
ChargesSheetingRate          1
RateofCrimeAgainstWomen      1
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    1
midPopulation                2
dtype: int64

In [194]:
# Replacing outliers with mean value of ChargesSheetingRate column.
Q1 = df1["ChargesSheetingRate"].quantile(0.25)
Q3 = df1["ChargesSheetingRate"].quantile(0.75)

In [195]:
IQR = Q3 - Q1

In [196]:
IQR

10.799999999999983

In [197]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

60.97500000000004
104.17499999999997

In [198]:
((df1[["ChargesSheetingRate"]]<Lower) | (df1[["ChargesSheetingRate"]]>Upper)).sum()

ChargesSheetingRate    1
dtype: int64

In [199]:
Row_count = ((df1[["ChargesSheetingRate"]]<Lower) | (df1[["ChargesSheetingRate"]]>Upper))

In [200]:
Row_count_index = Row_count[Row_count["ChargesSheetingRate"]].index

In [201]:
Row_count_index

Int64Index([7], dtype='int64')

In [202]:
df1.loc[Row_count_index,"ChargesSheetingRate"] = df1["ChargesSheetingRate"].mean()

In [203]:
((df1[["ChargesSheetingRate"]]<Lower) | (df1[["ChargesSheetingRate"]]>Upper)).sum()

ChargesSheetingRate    0
dtype: int64

In [204]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [205]:
IQR = Q3 - Q1

In [206]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         0
2020                         0
2021                         0
ChargesSheetingRate          0
RateofCrimeAgainstWomen      1
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    1
midPopulation                2
dtype: int64

In [207]:
# Replacing outliers with mean value of RateofCrimeAgainstWomen column.
Q1 = df1["RateofCrimeAgainstWomen"].quantile(0.25)
Q3 = df1["RateofCrimeAgainstWomen"].quantile(0.75)

In [208]:
IQR = Q3 - Q1

In [209]:
IQR

37.25

In [210]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-26.825
122.175

In [211]:
((df1[["RateofCrimeAgainstWomen"]]<Lower) | (df1[["RateofCrimeAgainstWomen"]]>Upper)).sum()

RateofCrimeAgainstWomen    1
dtype: int64

In [212]:
Row_count = ((df1[["RateofCrimeAgainstWomen"]]<Lower) | (df1[["RateofCrimeAgainstWomen"]]>Upper))

In [213]:
Row_count_index = Row_count[Row_count["RateofCrimeAgainstWomen"]].index

In [214]:
Row_count_index

Int64Index([18], dtype='int64')

In [215]:
df1.loc[Row_count_index,"RateofCrimeAgainstWomen"] = df1["RateofCrimeAgainstWomen"].mean()

In [216]:
((df1[["RateofCrimeAgainstWomen"]]<Lower) | (df1[["RateofCrimeAgainstWomen"]]>Upper)).sum()

RateofCrimeAgainstWomen    0
dtype: int64

In [217]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [218]:
IQR = Q3 - Q1

In [219]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         0
2020                         0
2021                         0
ChargesSheetingRate          0
RateofCrimeAgainstWomen      1
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    1
midPopulation                2
dtype: int64

In [220]:
# Replacing outliers with mean value of RateofCrimeAgainstWomen column.
Q1 = df1["RateofCrimeAgainstWomen"].quantile(0.25)
Q3 = df1["RateofCrimeAgainstWomen"].quantile(0.75)

In [221]:
IQR = Q3 - Q1

In [222]:
IQR

33.72500000000001

In [223]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-21.537500000000012
113.36250000000001

In [224]:
((df1[["RateofCrimeAgainstWomen"]]<Lower) | (df1[["RateofCrimeAgainstWomen"]]>Upper)).sum()

RateofCrimeAgainstWomen    1
dtype: int64

In [225]:
Row_count = ((df1[["RateofCrimeAgainstWomen"]]<Lower) | (df1[["RateofCrimeAgainstWomen"]]>Upper))

In [226]:
Row_count_index = Row_count[Row_count["RateofCrimeAgainstWomen"]].index

In [227]:
Row_count_index

Int64Index([7], dtype='int64')

In [228]:
df1.loc[Row_count_index,"RateofCrimeAgainstWomen"] = df1["RateofCrimeAgainstWomen"].mean()

In [229]:
((df1[["RateofCrimeAgainstWomen"]]<Lower) | (df1[["RateofCrimeAgainstWomen"]]>Upper)).sum()

RateofCrimeAgainstWomen    0
dtype: int64

In [230]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [231]:
IQR = Q3 - Q1

In [232]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         0
2020                         0
2021                         0
ChargesSheetingRate          0
RateofCrimeAgainstWomen      1
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    1
midPopulation                2
dtype: int64

In [233]:
# Replacing outliers with mean value of RateofCrimeAgainstWomen column.
Q1 = df1["RateofCrimeAgainstWomen"].quantile(0.25)
Q3 = df1["RateofCrimeAgainstWomen"].quantile(0.75)

In [234]:
IQR = Q3 - Q1

In [235]:
IQR

32.575

In [236]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-19.812500000000004
110.48750000000001

In [237]:
((df1[["RateofCrimeAgainstWomen"]]<Lower) | (df1[["RateofCrimeAgainstWomen"]]>Upper)).sum()

RateofCrimeAgainstWomen    1
dtype: int64

In [238]:
Row_count = ((df1[["RateofCrimeAgainstWomen"]]<Lower) | (df1[["RateofCrimeAgainstWomen"]]>Upper))

In [239]:
Row_count_index = Row_count[Row_count["RateofCrimeAgainstWomen"]].index

In [240]:
Row_count_index

Int64Index([23], dtype='int64')

In [241]:
df1.loc[Row_count_index,"RateofCrimeAgainstWomen"] = df1["RateofCrimeAgainstWomen"].mean()

In [242]:
((df1[["RateofCrimeAgainstWomen"]]<Lower) | (df1[["RateofCrimeAgainstWomen"]]>Upper)).sum()

RateofCrimeAgainstWomen    0
dtype: int64

In [243]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [244]:
IQR = Q3 - Q1

In [245]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         0
2020                         0
2021                         0
ChargesSheetingRate          0
RateofCrimeAgainstWomen      0
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    1
midPopulation                2
dtype: int64

In [246]:
# Replacing outliers with mean value of Total Cases (2019 - 2021) column.
Q1 = df1["Total Cases (2019 - 2021)"].quantile(0.25)
Q3 = df1["Total Cases (2019 - 2021)"].quantile(0.75)

In [247]:
IQR = Q3 - Q1

In [248]:
IQR

45425.5

In [249]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-67334.0
114368.0

In [250]:
((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper)).sum()

Total Cases (2019 - 2021)    1
dtype: int64

In [251]:
Row_count = ((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper))

In [252]:
Row_count_index = Row_count[Row_count["Total Cases (2019 - 2021)"]].index

In [253]:
Row_count_index

Int64Index([20], dtype='int64')

In [254]:
df1.loc[Row_count_index,"Total Cases (2019 - 2021)"] = df1["Total Cases (2019 - 2021)"].mean()

In [255]:
((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper)).sum()

Total Cases (2019 - 2021)    0
dtype: int64

In [256]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [257]:
IQR = Q3 - Q1

In [258]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         0
2020                         0
2021                         0
ChargesSheetingRate          0
RateofCrimeAgainstWomen      0
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    1
midPopulation                2
dtype: int64

In [259]:
# Replacing outliers with mean value of Total Cases (2019 - 2021) column.
Q1 = df1["Total Cases (2019 - 2021)"].quantile(0.25)
Q3 = df1["Total Cases (2019 - 2021)"].quantile(0.75)

In [260]:
IQR = Q3 - Q1

In [261]:
IQR

41013.0

In [262]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-60715.25
103336.75

In [263]:
((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper)).sum()

Total Cases (2019 - 2021)    1
dtype: int64

In [264]:
Row_count = ((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper))

In [265]:
Row_count_index = Row_count[Row_count["Total Cases (2019 - 2021)"]].index

In [266]:
Row_count_index

Int64Index([13], dtype='int64')

In [267]:
df1.loc[Row_count_index,"Total Cases (2019 - 2021)"] = df1["Total Cases (2019 - 2021)"].mean()

In [268]:
((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper)).sum()

Total Cases (2019 - 2021)    0
dtype: int64

In [269]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [270]:
IQR = Q3 - Q1

In [271]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         0
2020                         0
2021                         0
ChargesSheetingRate          0
RateofCrimeAgainstWomen      0
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    1
midPopulation                2
dtype: int64

In [272]:
# Replacing outliers with mean value of Total Cases (2019 - 2021) column.
Q1 = df1["Total Cases (2019 - 2021)"].quantile(0.25)
Q3 = df1["Total Cases (2019 - 2021)"].quantile(0.75)

In [273]:
IQR = Q3 - Q1

In [274]:
IQR

37763.5

In [275]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-55841.0
95213.0

In [276]:
((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper)).sum()

Total Cases (2019 - 2021)    1
dtype: int64

In [277]:
Row_count = ((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper))

In [278]:
Row_count_index = Row_count[Row_count["Total Cases (2019 - 2021)"]].index

In [279]:
Row_count_index

Int64Index([27], dtype='int64')

In [280]:
df1.loc[Row_count_index,"Total Cases (2019 - 2021)"] = df1["Total Cases (2019 - 2021)"].mean()

In [281]:
((df1[["Total Cases (2019 - 2021)"]]<Lower) | (df1[["Total Cases (2019 - 2021)"]]>Upper)).sum()

Total Cases (2019 - 2021)    0
dtype: int64

In [282]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [283]:
IQR = Q3 - Q1

In [284]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         0
2020                         0
2021                         0
ChargesSheetingRate          0
RateofCrimeAgainstWomen      0
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    0
midPopulation                2
dtype: int64

In [285]:
# Replacing outliers with mean value of midPopulation column.
Q1 = df1["midPopulation"].quantile(0.25)
Q3 = df1["midPopulation"].quantile(0.75)

In [286]:
IQR = Q3 - Q1

In [287]:
IQR

228.45

In [288]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-334.525
579.275

In [289]:
((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper)).sum()

midPopulation    2
dtype: int64

In [290]:
Row_count = ((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper))

In [291]:
Row_count_index = Row_count[Row_count["midPopulation"]].index

In [292]:
Row_count_index

Int64Index([3, 13], dtype='int64')

In [293]:
df1.loc[Row_count_index,"midPopulation"] = df1["midPopulation"].mean()

In [294]:
((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper)).sum()

midPopulation    0
dtype: int64

In [295]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [296]:
IQR = Q3 - Q1

In [297]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         0
2020                         0
2021                         0
ChargesSheetingRate          0
RateofCrimeAgainstWomen      0
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    0
midPopulation                1
dtype: int64

In [298]:
# Replacing outliers with mean value of midPopulation column.
Q1 = df1["midPopulation"].quantile(0.25)
Q3 = df1["midPopulation"].quantile(0.75)

In [299]:
IQR = Q3 - Q1

In [300]:
IQR

179.74999999999997

In [301]:
Lower = Q1 - 1.5*IQR
print(Lower)
Upper = Q3 + 1.5*IQR
print(Upper)

-261.47499999999997
457.5249999999999

In [302]:
((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper)).sum()

midPopulation    1
dtype: int64

In [303]:
Row_count = ((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper))

In [304]:
Row_count_index = Row_count[Row_count["midPopulation"]].index

In [305]:
Row_count_index

Int64Index([27], dtype='int64')

In [306]:
df1.loc[Row_count_index,"midPopulation"] = df1["midPopulation"].mean()

In [307]:
((df1[["midPopulation"]]<Lower) | (df1[["midPopulation"]]>Upper)).sum()

midPopulation    0
dtype: int64

In [308]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

In [309]:
IQR = Q3 - Q1

In [310]:
((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

C:\Users\91953\AppData\Local\Temp\ipykernel_14980\3113731443.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  ((df1 <(Q1 - 1.5*IQR)) | (df1 >(Q3 + 1.5*IQR))).sum()

2019                         0
2020                         0
2021                         0
ChargesSheetingRate          0
RateofCrimeAgainstWomen      0
S.No                         0
State/UT                     0
State_Name                   0
Total Cases (2019 - 2021)    0
midPopulation                0
dtype: int64

In [311]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 35
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S.No                       36 non-null     int64
 1   State/UT                   36 non-null     object
 2   State_Name                 36 non-null     object
 3   2019                       36 non-null     float64
 4   2020                       36 non-null     float64
 5   2021                       36 non-null     float64
 6   Total Cases (2019 - 2021)  36 non-null     float64
 7   midPopulation              36 non-null     float64
 8   RateofCrimeAgainstWomen    36 non-null     float64
 9   ChargesSheetingRate        36 non-null     float64
dtypes: float64(7), int64(1), object(2)
memory usage: 4.1+ KB

In [312]:
df1["2019"].dtype

dtype('float64')

In [313]:
df1["2019"] = df1["2019"].astype("int")

In [314]:
df1["2020"].dtype

dtype('float64')

In [315]:
df1["2020"] = df1["2020"].astype("int")

In [316]:
df1["2021"].dtype

dtype('float64')

In [317]:
df1["2021"] = df1["2021"].astype("int")

In [318]:
df1["Total Cases (2019 - 2021)"].dtype

dtype('float64')

In [319]:
df1["Total Cases (2019 - 2021)"] = df1["Total Cases (2019 - 2021)"].astype("int")

In [320]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 35
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S.No                       36 non-null     int64
 1   State/UT                   36 non-null     object
 2   State_Name                 36 non-null     object
 3   2019                       36 non-null     int32
 4   2020                       36 non-null     int32
 5   2021                       36 non-null     int32
 6   Total Cases (2019 - 2021)  36 non-null     int32
 7   midPopulation              36 non-null     float64
 8   RateofCrimeAgainstWomen    36 non-null     float64
 9   ChargesSheetingRate        36 non-null     float64
dtypes: float64(3), int32(4), int64(1), object(2)
memory usage: 3.6+ KB

In [322]:
df1.head()

,S.No,State/UT,State_Name,2019,2020,2021,Total Cases (2019 - 2021),midPopulation,RateofCrimeAgainstWomen,ChargesSheetingRate
0,1,State,Andhra Pradesh,17746,17089,17752,52587,264.200000,67.200,93.500000
1,2,State,Arunachal Pradesh,317,281,366,964,7.500000,49.100,77.600000
2,3,State,Assam,30025,7104,29046,85423,172.600000,58.425,79.516667
3,4,State,Bihar,18587,15359,17950,51896,158.879861,30.200,69.400000
4,5,State,Chhattisgarh,7689,7385,7344,22418,147.600000,49.800,88.500000

In [323]:
df1.to_csv(r"E:\INTERNSHIP\Projects\Criminal Activities in India cleaned data\crime_against_women_(State-UT-wise)_2019-2021.csv",index = False)